@import 'lib/reset';

@import 'vars';

@import 'layout/container';
@import 'layout/navbar';
@import 'layout/detail';

@import 'components/collection';

html, body {
    margin: 0;
    padding: 0;
    background-color: $white_smoke;
}

.container {
    position: relative;
    z-index: 3;
}
